[submodule "jush"]
	path = adminer/static/jush
	url = https://github.com/vrana/jush
[submodule "JsShrink"]
	path = conf/JsShrink
	url = https://github.com/vrana/JsShrink
[submodule "PhpShrink"]
	path = conf/PhpShrink
	url = https://github.com/vrana/PhpShrink
