[submodule "jush"]
	path = externals/jush
	url = git://jush.git.sourceforge.net/gitroot/jush/jush
[submodule "tinymce"]
	path = externals/tinymce
	url = git://github.com/tinymce/tinymce.git
[submodule "jquery-ui"]
	path = externals/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "jquery-timepicker"]
	path = externals/jquery-timepicker
	url = git://github.com/trentrichardson/jQuery-Timepicker-Addon.git
[submodule "wymeditor"]
	path = externals/wymeditor
	url = git://github.com/wymeditor/wymeditor.git
[submodule "JsShrink"]
	path = externals/JsShrink
	url = git://github.com/vrana/JsShrink.git
[submodule "CodeMirror2"]
	path = externals/CodeMirror2
	url = git://github.com/marijnh/CodeMirror2.git
