[submodule "jush"]
	path = externals/jush
	url = git://git.code.sf.net/p/jush/git
[submodule "wymeditor"]
	path = externals/wymeditor
	url = git://github.com/wymeditor/wymeditor.git
[submodule "JsShrink"]
	path = externals/JsShrink
	url = git://github.com/vrana/JsShrink.git
