/adminer/adminer.css
/adminer/adminer-dark.css
/editor/adminer.css
/editor/adminer-dark.css
/adminer*.php
/editor*.php
/tests/pdo-*.html
/tests/screenshots/
/tests/cropped/
/tests/e2e/artifacts/
/tests/e2e/vendor/
/tests/e2e/composer.lock
/.cache/
/.devcontainer/devcontainer-lock.json
/vendor/
/composer.lock
/node_modules/
adminer-plugins/
adminer-plugins.php
