BODY { color: Black; background-color: White; }
A { color: Blue; }
A:visited { color: Navy; }
H1 { font-size: 150%; margin-top: 0; }
H2 { font-size: 150%; margin-top: 0; }
H3 { margin-top: 0; }
FIELDSET { float: left; padding: .5em; margin: 0; }
PRE { margin: .12em 0 1em; }
TABLE { margin-bottom: 1em; }
P { margin-top: 0; }
IMG { vertical-align: middle; }
.error { color: Red; }
.message { color: Green; }
.char { color: #007F00; }
.date { color: #7F007F; }
.enum { color: #007F7F; }
.binary { color: Red; }
#menu { position: absolute; top: 8px; left: 8px; width: 15em; overflow: auto; overflow-y: hidden; white-space: nowrap; }
#content { margin-left: 16em; }
#schema { margin-left: 60px; position: relative; }
#schema DIV { position: absolute; }
#schema .table { border: 1px solid Silver; line-height: 1.25em; padding: 0 2px; }
