BODY { color: Black; background-color: White; }
A { color: Blue; }
A:visited { color: Navy; }
H1 { font-size: 150%; margin-top: 0; }
H2 { font-size: 150%; margin-top: 0; }
H3 { margin-top: 0; }
FIELDSET { float: left; padding: .5em; margin: 0; }
PRE { margin: .12em 0 1em; }
TABLE { margin-bottom: 1em; }
P { margin-top: 0; }
.error { color: Red; }
.message { color: Green; }
#menu { position: absolute; top: 8px; left: 8px; width: 15em; overflow: auto; white-space: nowrap; }
#content { margin-left: 16em; }
