parameters:
	level: 4
	ignoreErrors:
		# need to fix
		- "~^Function Adminer\\\\fields_from_edit\\(\\) should return~" # Mongo and SimpleDB
		- "~^Function Adminer\\\\explain\\(\\) should return Adminer\\\\Result~" # mysqli_result
		
		# not real problems
		- identifier: include.fileNotFound # relative includes
		- identifier: includeOnce.fileNotFound # ./adminer-plugins.php
		- "~^Function (set_magic_quotes_runtime|mysql_)~" # PHP < 7 functions
		- "~^Function (foreign_keys_sql|recreate_table) not found~" # defined by other drivers
		- "~^Variable \\$(adminer|connection|driver|drivers|error|HTTPS|LANG|langs|permanent|has_token|token|translations|VERSION) might not be defined~" # declared in bootstrap.inc.php
		- "~^Method Adminer\\\\Plugins::\\w+\\(\\) with return type void~" # we use the same pattern for all methods
		- "~Call to function is_object\\(\\) with Adminer\\\\Db\\|string will always evaluate to false~" # is_object(Db) is true
		- "~^Comparison operation \"==\" between \\(array\\|float\\|int\\) and 1~" # it thinks that $affected could be an array

		# it probably doesn't like $ar[$key] instead of isset($ar[$key]) and thinks that $ar[$key] is always set
		- identifier: identical.alwaysFalse
		- identifier: notEqual.alwaysFalse
		- identifier: notIdentical.alwaysTrue
		- identifier: booleanNot.alwaysFalse
		- identifier: booleanAnd.alwaysFalse
		- identifier: booleanAnd.leftAlwaysTrue
		- identifier: booleanAnd.rightAlwaysTrue
		- identifier: booleanAnd.rightAlwaysFalse
		- identifier: booleanOr.alwaysTrue
		- identifier: booleanOr.leftAlwaysTrue
		- identifier: ternary.alwaysTrue
		- identifier: if.alwaysTrue
		- identifier: while.alwaysTrue
		- identifier: isset.offset
		- identifier: deadCode.unreachable

	paths:
		- adminer/
		- compile.php # compile_file()
	excludePaths:
		- adminer/designs.php
		- adminer/elastic.php
		- adminer/sqlite.php
		- adminer/drivers/mssql.inc.php
		- adminer/drivers/oracle.inc.php
		- adminer/drivers/pgsql.inc.php
		- adminer/drivers/sqlite.inc.php
	
	phpVersion:
		min: 70100
		max: 80499
	checkMissingCallableSignature: true
	typeAliases:
		TableStatus: "array{Name:string, Engine?:?string, Comment?:string, Oid?:numeric-string, Rows?:?numeric-string, Collation?:string, Auto_increment?:?numeric-string, Data_length?:numeric-string, Index_length?:numeric-string, Data_free?:numeric-string, Create_options?:string, nspname?:string}"
		Field: "array{field:?string, full_type:string, type:string, length:numeric-string, unsigned:string, default:?string, null:bool, auto_increment:bool, collation:string, privileges:int[], comment:string, primary:bool, generated:string, orig?:string, on_update:?string, on_delete?:string, inout?:string}"
		Index: "array{type:string, columns:list<string>, lengths:list<numeric-string>, descs:list<?bool>}"
		ForeignKey: "array{db:string, ns?:string, table:string, source:list<string>, target:list<string>, on_delete:string, on_update:string}"
		Trigger: "array{Trigger?:string, Timing?:string, Event?:string, Of?:string, Type?:string, Statement?:string}"
		Routine: "array{name?:string, fields:list<array{field:string, type:string, length:?string, unsigned:string, null:bool, full_type:string, inout:string, collation:string}>, comment:string, returns?:array, definition:string, language?:string}"
		BackwardKey: "array{name:string, keys:string[][]}"
