/** @author Ondrej Valka, http://valka.info */
body { color: #000; background: #fff; font: 90%/1.25 Verdana, Arial, Helvetica, sans-serif; margin: 0; min-width: fit-content; }
a { color: blue; text-decoration: none; }
a:visited { color: navy; }
a:link:hover, a:visited:hover { color: red; text-decoration: underline; }
a.text:hover { text-decoration: none; }
a.jush-help:hover { color: inherit; }
h1 { font-size: 150%; margin: 0; padding: .8em 1em; border-bottom: 1px solid #999; font-weight: normal; color: #777; background: #eee; }
h2 { font-size: 150%; margin: 0 0 20px -18px; padding: .8em 1em; border-bottom: 1px solid #000; color: #000; font-weight: normal; background: #ddf; }
h3 { font-weight: normal; font-size: 130%; margin: 1em 0 0; }
form { margin: 0; }
td table { width: 100%; margin: 0; }
table { margin: 1em 20px 0 0; border-collapse: collapse; font-size: 90%; }
td, th { border: 1px solid #999; padding: .2em .3em; }
th { background: #eee; text-align: left; }
thead th { text-align: center; padding: .2em .5em; }
thead td, thead th { background: #ddf; } /* position: sticky; causes Firefox to lose borders */
fieldset { display: inline; vertical-align: top; padding: .5em .8em; margin: .8em .5em 0 0; border: 1px solid #999; }
p { margin: .8em 20px 0 0; }
img { vertical-align: middle; border: 0; }
td img { max-width: 200px; max-height: 200px; }
code { background: #eee; }
tbody tr:hover td, tbody tr:hover th { background: #eee; }
pre { margin: 1em 0 0; }
td pre { margin: 0; }
pre, textarea { font: 100%/1.25 monospace; }
pre.jush { background: #fff; }
pre code { display: block; }
input, textarea { box-sizing: border-box; }
input, select { vertical-align: middle; }
input[type="radio"] { vertical-align: text-bottom; }
input.default { box-shadow: 1px 1px 1px #777; }
input.required, input.maxlength { box-shadow: 1px 1px 1px red; }
input.wayoff { left: -1000px; position: absolute; }
.block { display: block; }
.version { color: #777; font-size: 62%; }
.js .hidden, .nojs .jsonly { display: none; }
.js .column { position: absolute; background: #ddf; padding: .27em 1ex .3em 0; margin-top: -.27em; }
.nowrap td, .nowrap th, td.nowrap, p.nowrap { white-space: pre; }
.wrap td { white-space: normal; }
.error { color: red; background: #fee; }
.error b { background: #fff; font-weight: normal; }
.message { color: green; background: #efe; }
.message table { color: #000; background: #fff; }
.error, .message { padding: .5em .8em; margin: 1em 20px 0 0; }
.char { color: #007F00; }
.date { color: #7F007F; }
.enum { color: #007F7F; }
.binary { color: red; }
.odds tbody tr:nth-child(2n) { background: #F5F5F5; }
.js .checkable .checked td, .js .checkable .checked th { background: #ddf; }
.time { color: silver; font-size: 70%; }
.function, .number, .datetime { text-align: right; }
.type { width: 15ex; }
.options select, .options input { width: 20ex; }
.view { font-style: italic; }
.active { font-weight: bold; }
.sqlarea { width: 98%; }
.explain table { white-space: pre; }
.icon { width: 18px; height: 18px; background-color: navy; }
.icon:hover { background-color: red; }
.size { width: 7ex; }
.help { cursor: help; }
.footer { position: sticky; bottom: 0; margin-right: -20px; border-top: 20px solid rgba(255, 255, 255, .7); border-image: linear-gradient(rgba(255, 255, 255, .2), #fff) 100% 0; }
.footer > div { background: #fff; padding: 0 0 .5em; }
.footer fieldset { margin-top: 0; }
.links a { white-space: nowrap; margin-right: 20px; }
.logout { margin-top: .5em; position: absolute; top: 0; right: 0; }
.loadmore { margin-left: 1ex; }
/* .edit used in designs */
#menu { position: absolute; margin: 10px 0 0; top: 2em; left: 0; width: 19em; }
#menu p, #logins, #tables { padding: .8em 1em; margin: 0; border-bottom: 1px solid #ccc; }
#logins li, #tables li { list-style: none; }
#dbs { overflow: hidden; }
#logins, #tables { white-space: nowrap; overflow: hidden; }
#logins a, #tables a, #tables span { background: #fff; }
#content { margin: 2em 0 0 21em; padding: 10px 20px 20px 0; }
#lang { position: absolute; top: -2.6em; left: 0; padding: .3em 1em; }
#breadcrumb { white-space: nowrap; position: absolute; top: 0; left: 21em; background: #eee; height: 2em; line-height: 1.8em; padding: 0 1em; margin: 0 0 0 -18px; }
#h1 { color: #777; text-decoration: none; font-style: italic; }
#version { color: red; }
#schema { margin-left: 60px; position: relative; user-select: none; -webkit-user-select: none; }
#schema .table { border: 1px solid silver; padding: 0 2px; cursor: move; position: absolute; }
#schema .references { position: absolute; }
#help { position: absolute; border: 1px solid #999; background: #eee; padding: 5px; font-family: monospace; z-index: 1; }

.rtl h2 { margin: 0 -18px 20px 0; }
.rtl p, .rtl table, .rtl .error, .rtl .message { margin: 1em 0 0 20px; }
.rtl .logout { left: 0; right: auto; }
.rtl #content { margin: 2em 21em 0 0; padding: 10px 0 20px 20px; }
.rtl #breadcrumb { left: auto; right: 21em; margin: 0 -18px 0 0; }
.rtl .pages { left: auto; right: 21em; }
.rtl input.wayoff { left: auto; right: -1000px; }
.rtl #lang, .rtl #menu { left: auto; right: 0; }
.rtl pre, .rtl code { direction: ltr; }

@media (prefers-color-scheme: dark) {
	/** @author Robert Mesaros, https://www.rmsoft.sk */
	body { color: #829bb0; background: #002240; }
	a { color: #517fa8; }
	a:visited { color: #517fa8; }
	a:link:hover, a:visited:hover { color: #9bc0e1; }
	h1 { border-color: #5e94c1; color: #ffddbf; background: #154269; }
	h2 { border-color: #a3bdd3; color: #000; background: #3c678d; }
	td, th { border-color: #0e416d; }
	th { background: #11385a; }
	thead td, thead th { color: #a8b05f; background: #011d35; }
	thead th a { color: #a8b05f; }
	fieldset { border-color: #16548a; }
	code { background: #11385a; }
	code[class^="jush-"] { color: #002240; background: #81a0bc; padding: .2em .5em; }
	tbody tr:hover td, tbody tr:hover th { background: #133553; }
	pre.jush { background: #a7c3dc; }
	input.default { box-shadow: 1px 1px 1px #888; }
	input.required, input.maxlength { box-shadow: 1px 1px 1px red; }
	.version { color: #888; }
	.js .column { background: #011d35; }
	.error { color: red; background: #efdada; border: 1px solid #e76f6f; }
	.error b { background: #002240; }
	.message { color: #0b860b; background: #efe; border: 1px solid #7fbd7f; }
	.message table { color: #829bb0; background: #002240; }
	.char { color: #a949a9; }
	.date { color: #59c159; }
	.enum { color: #d55c5c; }
	.binary { color: #9bc0e1; }
	.odds tbody tr:nth-child(2n) { background: #042541; }
	.js .checkable .checked td, .js .checkable .checked th { background: #10395c; color: #67a4a5; }
	.js .checkable .checked:hover td, .js .checkable .checked:hover th { background: #133553; }
	.js .checkable .checked a { color: #67a4a5; }
	.icon { background-color: #062642; }
	.icon:hover { background-color: #d1394e; }
	.footer { border-top-color: rgba(0, 34, 64, .7); border-image-source: linear-gradient(rgba(0, 34, 64, 0.2), #002240); }
	.footer > div { background: #002240; }
	#menu p, #logins, #tables { border-color: #326b9c; }
	#logins a, #tables a, #tables span { background: #002240; }
	#breadcrumb { background: #154269; }
	#h1 { color: #ffddbf; }
	#version { color: #d2b397; }
	#schema .table { border-color: #093459; }
	#help { border-color: #666; background: #c7e4fe; }
	#schema div.table a { color: #3c7bb3; }
	#menu .active { color: #398c8d; }
	#edit-fields tbody tr:hover td, #edit-fields tbody tr:hover th { background: #3b6f9d; }
}

@media all and (max-width: 880px) {
	.pages { left: auto; }
	.logout { position: static; padding: 0 1em 1em; }
	#menu { position: static; width: auto; }
	#content { margin-left: 10px; }
	#lang { position: static; }
	#breadcrumb { left: auto; }
	.rtl .pages { right: auto; }
	.rtl #content { margin-right: 10px; }
	.rtl #breadcrumb { right: auto; }
}

@media print {
	#lang, #menu { display: none; }
	#content { margin-left: 1em; }
	#breadcrumb { left: 1em; }
	.nowrap td, .nowrap th, td.nowrap { white-space: normal; }
}
